<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Taskes</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/fonts/tasques.jpg" height="40" width="40">><img />
                @*@Html.ActionLink("TASQUES", "Login", "USERS", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        HttpCookie cookie = HttpContext.Current.Request.Cookies.Get("TOKEN");
                        if (cookie != null && Tasques.Utils.UtilsToken.Isadmin(cookie.Value))
                        {
                            <li>@Html.ActionLink("Tasques", "Index", "TASKS")</li>
                            <li>@Html.ActionLink("Creació tasques", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Assignació", "Index", "AssignarTasques")</li>
                            <li>@Html.ActionLink("Admin Users", "Index", "USERS")</li>
                            <li>@Html.ActionLink("Admin Grups", "Index", "GROUPS")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Tasques", "Index", "TASKS")</li>
                        }
                    }



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TASQUES</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/Admin.js")
    @RenderSection("scripts", required: false)
</body>
</html>
