@model List<Tasques.Controllers.TASKSController.TaskUG>
@using Tasques.Utils
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TASQUES USUARI</h2>

<p>
    @Html.ActionLink("Nova Tasca", "Create", "TASKS", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            Nom de la tasca
        </th>
        <th>
            Usuari/Nom grup
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

    
        if (!Utils.IsCompleted(item.task.Tasques))
        {
        <tr class="noCompleta">
            <td>
                @Html.DisplayFor(modelItem => item.task.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomGrup, new { @class = "text-center" })
            </td>
            <td>
                @Html.ActionLink("Fer tasca", "Edit", new { id = item.task.IDTASK }, new { @class = "btn btn-warning btn-large" })
                @*@Html.ActionLink("Details", "Details", new { id = item.task.IDTASK }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.task.IDTASK })*@
            </td>
        </tr>
        }
        else
        {
        <tr class="nCompleta">
            <td>
                @Html.DisplayFor(modelItem => item.task.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomGrup)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.task.IDTASK }, new { @class = "btn btn-success btn-large" })
                @*@Html.ActionLink("Details", "Details", new { id = item.task.IDTASK }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.task.IDTASK })*@
                
            </td>
        </tr>
        }
 

    }

</table>
