@model IEnumerable<Tasques.Models.USERS>

@{
    ViewBag.Title = "ADMINISTRACIÓ USUARIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ADMINISTRACIÓ USUARIS</h2>

<p>

    @Html.ActionLink("Nou usuari", "Create", "TASKS", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SURNAMES)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SURNAMES)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDUSER }, new { @class = "btn btn-primary btn-large" }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.IDUSER }) |*@
            @Html.ActionLink("Borrar", "Delete", new { id=item.IDUSER }, new { @class = "btn btn-danger btn-large" })
        </td>
    </tr>
}

</table>
